

<div class="container">
    <div class="form-container">
        <form asp-controller="Calculadora" asp-action="Calcular" method="post">
            <label for="Apellidos">Apellidos:</label>
            <input type="text" name="Apellidos" /><br />

            <br /><label for="Nombres">Nombres:</label>
            <input type="text" name="Nombres" /><br />

            <br /><label for="Edad">Edad:</label>
            <input type="text" name="Edad" /><br/>

            <br /><label>Genero:</label><br />
            <input type="radio" name="Genero" value="MASCULINO" id="genero-masculino">
            <label for="genero-masculino">Masculino</label><br />
            <input type="radio" name="Genero" value="FEMENINO" id="genero-femenino">
            <label for="genero-femenino">Femenino</label><br />

            

            <br /><input type="submit" value="Calcular" />
        </form>
    </div>
    <div class="message-container">
        <h3 class="message-text">@Html.Raw(ViewData["Message"])</h3>
    </div>
</div>